.slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 12px;
    font-size: 0;
    list-style:none;
    margin-bottom: 10px;
    overflow-x: auto;
    padding-bottom: 10px; 
  }
  
  img :hover {
    border: 2px solid lawngreen;
  }

  ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  }

/* Track */
  ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
   }

/* Handle */
  ::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
  background: lawngreen; 
}